* {
    border:              none;
    border-radius:       0;
    font-family:         Sans;
    font-size:           15px;
    box-shadow:          none;
    text-shadow:         none;
    transition-duration: 0s;
}

window {
    color:         rgba(0xd7, 0x99, 0x21, 1.00);
    background:    rgba(0x28, 0x28, 0x28, 0.80);
    padding:       0 15px;
}

#workspaces {
    margin: 0 5px;
}

#workspaces button {
    padding:    0 15px;
    color:      rgba(0xd7, 0x99, 0x21, 1.00);
}

#workspaces button.visible {
    border-top: 3px solid rgba(217, 216, 216, 0);
    border-bottom: 3px solid rgba(0x45, 0x85, 0x88, 1.00);
}

#workspaces button.active {
    border-top: 3px solid rgba(217, 216, 216, 0);
    border-bottom: 3px solid rgba(0xd7, 0x99, 0x21, 1.00);
}

#workspaces button.urgent {
    color:      rgba(238, 46, 36, 1);
}

#workspaces, #keyboard-state, #mode, #cpu, #memory, #temperature, #network,
#clock, #idle_inhibitor, #pulseaudio, #tray, #window {
    color:      rgba(0xd7, 0x99, 0x21, 1.00);
    margin:     0px 6px 0px 10px;
    min-width:  25px;
}

#clock {
    margin:     0px 16px 0px 10px;
    min-width:  75px;
}
